/* General */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;  /* Eliminar scroll global */
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    width: 80px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    transition: width 0.1s ease-in, background-color 0.2s;
}
.sidebar:hover {
    width: 220px;
}
.sidebar .logo-img {
    width: 70px; 
    height: auto;
    display: block; 
    margin: 15px 10px 0 8px;
    border-radius: 50%;
    object-fit: cover;
}

/* Ocultar el logo cuando la sidebar está expandida */
.sidebar:hover .logo-img {
    display: none; 
}
.sidebar h2 {
    text-align: center;
    font-size: 24px;
    display: none;
}
.sidebar:hover h2 {
    display: block; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 28px 30px;
}
.sidebar ul li span {
    display: none; /* Ocultar los textos de los elementos */
    padding-left: 10px;
}
.sidebar:hover ul li span {
    display: inline-block; /* Ocultar los textos de los elementos */
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

/* Main content */
.main-content {
    margin-left: 240px;
    padding: 20px;
    min-height: 100vh;  /* Asegura que el contenido mínimo ocupe toda la altura visible */
    margin-top: 60px;    /* Espacio para la barra de navegación */
    overflow: visible;   /* Permite márgenes y rellenos en el contenido */
    margin: 110px 40px 0 240px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 8px 16px;
    margin: 10px 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para inputs y select */
input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 80px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar i {
    display: none;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        margin-top: 150px;  /* Ajusta el espacio superior cuando la barra de navegación es fija */
    }

    .display button {
        width: 80px;
        margin: 10px 0 10px 10px;
    }

    .navbar {
        width: 100%;
        background-color: #333;
        display: flex;
    }

    .navbar i {
        display: block;
        color: #f4f4f9;
        margin: 0 20px 0 20px;
        font-size: 30px;
    }

    .contenerdor-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
}

/* Contenedor de borde para inspeccionar elementos */

